body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.login-container {
    background: #ffffff; /* Fondo blanco para el contenedor */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h3 {
    font-weight: bold;
    color: #333; /* Título en color gris oscuro */
    margin-bottom: 20px;
}

h3 i {
    font-size: 60px;
    display: block;
    color: #00BFFF; /* Ícono en azul */
    margin-bottom: 10px;
}

.login-container i.fas.fa-user-graduate {
    font-size: 80px; /* Ícono más grande */
    color: #00BFFF; /* Ícono azul */
    margin-bottom: 20px; /* Espacio entre el ícono y el título */
}

.form-label {
    color: #333; /* Labels en gris oscuro */
}

.login-btn {
    background: #00BFFF; /* Botón azul */
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 50px; /* Redondear botón */
    transition: background 0.3s ease, transform 0.2s ease; /* Efecto de transición */
}

.login-btn:hover {
    background: #007BFF; /* Color al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}

.icon-container {
    position: relative;
}

.line-input {
    border: none;
    border-bottom: 2px solid #ffcc00; /* Línea amarilla */
    border-radius: 0;
    background-color: transparent;
    color: #333; /* Texto del input en gris oscuro */
    padding-left: 40px;
}

.line-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #ffcc00; /* Línea amarilla al enfocar */
}

.icon-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffcc00; /* Íconos amarillos */
}

.input-group-text {
    background-color: transparent;
    border: none;
    color: #333; /* Texto de input-group en gris oscuro */
}

.form-control {
    background-color: #f2f2f2; /* Fondo claro para inputs */
    border-radius: 50px;
    border: 1px solid #00BFFF; /* Borde azul */
    color: #333; /* Texto del input en gris oscuro */
}

.form-control:focus {
    background-color: #f2f2f2; /* Fondo claro al enfocar */
    border-color: #ffcc00; /* Borde amarillo al enfocar */
    box-shadow: none;
}
